/*https://coolors.co/50514f-ed6a5a-f0e2e7-99edcc*/

html {
    --davys-grey: #50514fff;
    --lavender-blush: #f0e2e7ff;
    --magic-mint: #99edccff;
    --tuscan-red: #7d4e57ff;
    --card-font: #3f3f3fff;
}

body {
    background-color: var(--davys-grey);
}
div.heading-container {
    position: relative;
    top: 0%;
    left: 50%;
    transform:translateX(-50%);

    text-align: center;
    padding: 1px;
}
div.heading-container * {
    color: white;
}
.container {
    column-count: 2;
    column-width: 150px;
    column-gap: 20px;
}
.card {
    background-color: var(--tuscan-red);
    border: 2px solid white;
    border-radius: 5px;
    padding: 10px;
    break-inside: avoid-column;
    margin: 0px 5px 15px;
}
.card * {
    margin: 0;
    color: var(--card-font);
}
a.visible-link {
    text-decoration: underline;
}
h1, h2, p, code, a {
    color: white;
    text-decoration: none;
}
h1, h2, p {
    font-family: Merriweather, serif;
}
h1, h2 {
    font-weight: 400;
}
h1 {
    font-size: 40px;
}
h2 {
    font-size: 30px;
}
p {
    font-weight: 300;
}
code {
    font-size: 15px;
    background-color: darkgray;
    padding: .5px 5px;
    border-radius: 5px;
}
code.not-inline {
    margin: 10px 50px;
    padding: 10px 5px;
}